body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(223, 181, 104);
}

h1 {
    font-size: 13rem;
}


.letter {
    transition: color 1000ms;
}