body {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background-color: rgb(128, 83, 199);
}

h1 {
    font-size: 4rem;
}


.letter {
    transition: color 1500ms;
}